process {

    withName: VSEARCH_DEREPFULL_ALL {
        ext.args = "--minuniquesize 2 --sizein --sizeout --fasta_width 0" 

    }
    withName: VSEARCH_DEREPFULL {
        ext.args = "--strand plus --sizeout --fasta_width 0"
    }
    withName: VSEARCH_CLUSTER {
        ext.args = "--strand plus --sizein --sizeout"
    }
    withName: VSEARCH_CLUSTER_ALL {
        ext.args = "--strand plus --sizein --sizeout --relabel OTU_"
    }
    
}