process {

    withName: VSEARCH_DEREPFULL_ALL {
        ext.args = "--minuniquesize 5 --sizein --sizeout --fasta_width 0" 

    }
    withName: VSEARCH_DEREPFULL {
        ext.args = "--strand plus --sizeout --fasta_width 0"
    }
    withName: VSEARCH_CLUSTER_SIZE {
        ext.args = "--strand plus --sizein --sizeout"
    }
    withName: VSEARCH_CLUSTER_ALL {
        ext.args = "--strand plus --sizein --sizeout --relabel OTU_"
        ext.prefix = "combined"
    }
    withName: VSEARCH_CLUSTER_UNOISE {
        ext.args = "--minsize 4 --unoise_alpha 2"
    }   
}