process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: true,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: VSEARCH_DEREPFULL_ALL {
        ext.args = "--minuniquesize 5 --sizein --sizeout --fasta_width 0" 

    }
    withName: VSEARCH_DEREPFULL {
        ext.args = "--strand plus --sizeout --fasta_width 0"
    }
    withName: VSEARCH_CLUSTER_SIZE {
        ext.args = "--strand plus --sizein --sizeout --relabel OTU_"
        ext.prefix = "OTUs"
        publishDir = [
            path: { "${params.outdir}/OTUs" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: VSEARCH_CLUSTER_UNOISE {
        ext.args = "--minsize 4 --unoise_alpha 2"
    }   
    withName: VSEARCH_USEARCH_GLOBAL {
        ext.args = "-id 0.97"
        publishDir = [
            path: { "${params.outdir}/OTUs" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: VSEARCH_SINTAX {
        ext.args = "-strand both -sintax_cutoff 0.9" 
        publishDir = [
            path: { "${params.outdir}/taxonomy" },
            mode: params.publish_dir_mode,
            enabled: true,            
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'VSEARCH_FASTQMERGE|VSEARCH_FASTQFILTER|VSEARCH_SORTBYSIZE' {
        publishDir = [
            path: { "${params.outdir}/vsearch" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: FASTP {
        publishDir = [
            path: { "${params.outdir}/FASTP" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: PTRIMMER {
        publishDir = [
            path: { "${params.outdir}/ptrimmer" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: CUTADAPT {
        ext.args = params.cutadapt_options
        publishDir = [
            path: { "${params.outdir}/cutadapt" },
            mode: params.publish_dir_mode,
            enabled: false
        ] 
    }
    withName: 'JSON2TSV|SINTAX_OTU2JSON' {
        publishDir = [
            path: { "${params.outdir}/reports" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }

        ] 
    }
    withName: INSTALL_MIDORI {
        publishDir = [
            path: { "${params.reference_base}/eutaxpro/1.0" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }

        ]
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/custom" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
}