params {

  references {

    genes {

      'lrrna' {
        dada2_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/DADA2/uniq/MIDORI2_UNIQ_NUC_GB259_lrRNA_DADA2.fasta.gz"
        dada2_db = "${params.reference_base}/eutaxpro/lrrna/dada2/MIDORI2_UNIQ_NUC_GB259_lrRNA_DADA2.fasta.gz"
        sintax_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/SINTAX/uniq/MIDORI2_UNIQ_NUC_GB259_lrRNA_SINTAX.fasta.gz"
        sintax_db = "${params.reference_base}/eutaxpro/lrrna/sintax/MIDORI2_UNIQ_NUC_GB259_lrRNA_SINTAX.fasta.gz"
      }
      'srrna' {
        dada2_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/DADA2/uniq/MIDORI2_UNIQ_NUC_GB259_srRNA_DADA2.fasta.gz"
        dada2_db = "${params.reference_base}/eutaxpro/srrna/dada2/MIDORI2_UNIQ_NUC_GB259_srRNA_DADA2.fasta.gz"
        sintax_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/SINTAX/uniq/MIDORI2_UNIQ_NUC_GB259_srRNA_SINTAX.fasta.gz"
        sintax_db = "${params.reference_base}/eutaxpro/srrna/sintax/MIDORI2_UNIQ_NUC_GB259_srRNA_SINTAX.fasta.gz"
      }
      'co1' {
        dada2_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/DADA2/uniq/MIDORI2_UNIQ_NUC_GB259_CO1_DADA2.fasta.gz"
        dada2_db = "${params.reference_base}/eutaxpro/co1/dada2/MIDORI2_UNIQ_NUC_GB259_CO1_DADA2.fasta.gz"
        sintax_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/SINTAX/uniq/MIDORI2_UNIQ_NUC_GB259_CO1_SINTAX.fasta.gz"
        sintax_db = "${params.reference_base}/eutaxpro/co1/sintax/MIDORI2_UNIQ_NUC_GB259_CO1_SINTAX.fasta.gz"
      }
      'cytb' {
        dada2_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/DADA2/uniq/MIDORI2_UNIQ_NUC_GB259_Cytb_DADA2.fasta.gz"
        dada2_db = "${params.reference_base}/eutaxpro/cytb/dada2/MIDORI2_UNIQ_NUC_GB259_Cytb_DADA2.fasta.gz"
        sintax_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/SINTAX/uniq/MIDORI2_UNIQ_NUC_GB259_Cytb_SINTAX.fasta.gz"
        sintax_db = "${params.reference_base}/eutaxpro/cytb/sintax/MIDORI2_UNIQ_NUC_GB259_Cytb_SINTAX.fasta.gz"
      }

    }

    primers {
      'par64_illumina' {
        description = "Primerset für die amtliche Methode L-001.183"
        gene = "lrrna"
        tool = "sintax"
        r1_clip = 140
        r2_clip = 130
        ptrimmer_config = "${baseDir}/assets/ptrimmer/par64_illumina.txt"
        fasta = "${baseDir}/assets/primers/par64_illumina.fasta"
      }
    }

  }
  
}
